@font-face {
  font-family: "SF Pro Display";
  src: url('../../fonts/SFProDisplay.ttf') format('ttf');
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  background: #F1F4F9;
  font-family: "SF Pro Display", sans-serif;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 64px;

  background: #FFFFFF;
  box-shadow: 0px 4px 5px #E9EDF3;
}

.mainBlock {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;
}

.contentWrapper {
  margin: 61px 6.25vw;
  display: flex;
  flex-flow: column nowrap;
  
}

.listWrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 40px;
  box-shadow: 0px 4px 5px #E9EDF3;
  border-radius: 8px;
  box-sizing: border-box;
  background: #FFFFFF;
  
  max-width: 1440px;
}

.filtersWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  max-width: 1440px;
}

.listHeader {
  height: 62px;
  border-bottom: 1px solid #EAF0FA;
  color: rgba(137, 156, 177, 1);
}

.grid {
  display: grid;
  grid-template-columns: 45px 1fr 2fr 3fr 3fr;
  align-items: center;
}