.wrapper {
  position: relative;
  user-select: none;
  width: fit-content;
  
}
.select {
  position: relative;
  display: flex;
  flex-direction: column;
}
.selectTrigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  font-size: 14px;
  font-weight: 300;
  color: #3b3b3b;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.selectInput {
  opacity: 0;
  height: 0;
  width: 0;
}
.selectTrigger span {
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  width: 100%;
  border: none;
  color: rgba(94, 119, 147, 1);
  height: 100%;
  padding: 0 20px;
}
.customOptions {
  position: absolute;
  display: block;
  top: 100%;
  right: 0;
  width: 204px;
  border: 1px solid #EAF0FA;
  border-top: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  
  box-sizing: border-box;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  border-radius: 4px;
  overflow: hidden;
}
.select.open .customOptions {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.select.open .selectTrigger span {
  color: rgba(18, 41, 69, 1);
}
.customOption {
  position: relative;
  display: block;
  padding: 0 20px 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: rgba(137, 156, 177, 1);
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.customOption:hover {
  cursor: pointer;
  background: rgba(0,95,248,0.13);
  border-radius: 0px;
}
.customOption.selected {
  color: rgba(0, 95, 248, 1);
  border-radius: 0px;
}

.arrow {
  position: relative;
  height: 8px;
  width: 8px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
  background: rgba(173, 191, 223, 1);
}
.arrow::before {
  left: -2px;
  transform: rotate(45deg);
}
.arrow::after {
  left: 2px;
  transform: rotate(-45deg);
}
.open .arrow::before {
  left: -2px;
  transform: rotate(-45deg);
  background: #005FF8;
}
.open .arrow::after {
  left: 2px;
  transform: rotate(45deg);
  background: #005FF8;
}

