.wrapper {
  display: flex; 
  flex-flow: column nowrap;
  min-width: 240px;
  max-width: 12.5vw;
  background: #091336;
}

.logo {
  width: 45%;
  margin: 20px 0 0 15px;
}

.buttonsWrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}